/*font-family: 'Darker Grotesque', sans-serif; */
body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #272727;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.logo {
    height: 20px;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 20px;
}
.title main {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding: 20px;
}

.nav-item {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

header, footer {
    background-color: #ffffff;
    width: 70%;
    margin: 0 auto;
}

.inlineBlock {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
    background-color: #ffffff;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    align-items: center;
}

.section {
    background-color: #E4EFEE;
    height: 500px;
}

.Images {
    width: 150px;
    justify-content: center;
    border-radius: 0px 0px 0px 50px;
}

nav ul {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    display: flex;
    width: 100%;
    align-items: center;
}
nav li {
    padding: 20px;
}
nav title {
    padding: 20px;
}

p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    width: 400px;
}

#description p:nth-child(1) {
    font-size: 26px;
    font-weight: 500;
}
#description p:nth-child(2) {
    color: #18A395;
}

.heroImg {
    height: 500px;
    padding: 50px;
    background-color: #E4EFEE;
    display: flex;
    align-items: center;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-contianer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    height: 300px;
    margin: 0 auto; 
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 25px #A9D6D2;
    border-radius: 0px 0px 0px 50px;
    justify-content: center;
}

.heroImg button {
    box-shadow: 0px 0px 5px #A9D6D2;
    background-color: black;
    padding: 15px 25px;
    border: none;
    text-align: center;
    display: inline-block;
    color: #ffffff;
}

.footer-item {
    padding: 0;
}